@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: Norse;
	src: url(../fonts/Norse-Bold.otf) format('opentype');
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.6rem;
	color: rgb(15 23 42);
	overflow: hidden;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
}

.left {
	height: 100%;
	width: 38.2%;

	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: white;

	.logo {
		margin-top: calc((100vh - 144px) * (1 - 0.618));
		width: 100%;
		height: 144px;
		background-color: rgba(0, 0, 0, 0.68);

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;

		img {
			display: block;
			height: 96px;
			width: auto;
		}

		h1 {
			font-family: Norse, sans-serif;
			text-align: center;
			font-size: 80px;
			margin-top: 16px;
		}
	}

	.appreciation {
		background-color: rgba(0, 0, 0, 0.7);

		font-family: 'Rajdhani', serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.4rem;

		padding: 4px 12px;

		margin-bottom: 8px;
		a {
			color: inherit;
			font-weight: 600;
		}
	}
}

.right {
	height: 100%;
	width: 61.8%;

	.form-container {
		margin-left: auto;
		margin-right: auto;
		margin-top: 72px;
		width: max(50%, 550px);
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 36px;

		.header {
			h2 {
				text-transform: capitalize;
				text-align: center;
				font-size: 4rem;
				font-weight: 500;
				margin-bottom: 24px;
			}

			p {
				margin: 8px 0;
				font-size: 1.8rem;
				font-weight: 500;
			}
		}

		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 20px;

			.form-row {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 48px;

				.form-col {
					width: 50%;
					display: flex;
					flex-direction: column;
					gap: 2px;
				}

				label {
					text-transform: uppercase;
					font-size: 1.4rem;
					color: rgb(51 65 85);
				}

				input {
					flex: 1 1 auto;
					appearance: none;
					outline: none;

					border: 1px solid rgba(0, 0, 0, 0.18);
					border-radius: 4px;
					padding: 0 8px;
					height: 34px;

					transition: all 0.2s ease-in-out;
				}

				input:focus {
					background-color: #fff;
					box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.25);
				}

				input:invalid {
					border-color: rgb(185 35 38);
					background-color: rgba(185, 35, 38, 0.25);
					box-shadow: 0 3px 5px 0 rgba(185, 35, 38, 0.35);
				}

				input:focus:invalid {
					border-color: rgb(185 35 38);
					background-color: transparent;
					box-shadow: 0 3px 5px 0 rgba(185, 35, 38, 0.35);
				}

				input:not(input[type='submit']):valid:not(:placeholder-shown) {
					border: 1px solid #8bc34a;
					background-color: rgba(139, 195, 74, 0.25);
				}

				input:not(input[type='submit']):focus:valid {
					border: 1px solid #8bc34a;
					background-color: transparent;
					box-shadow: 0 3px 5px 0 rgba(139, 195, 74, 0.35);
				}

				input:placeholder-shown {
					background-color: transparent;
					border: 1px solid rgba(0, 0, 0, 0.18);
					box-shadow: none;
				}

				input[type='submit'] {
					max-width: calc(50% - 24px);
					height: 36px;
					cursor: pointer;
					margin-top: 16px;
					border: none;
					border-radius: 4px;
					background-color: rgb(15 118 110);
					color: rgb(249 250 251);
					font-weight: 500;
					font-size: 1.8rem;
				}

				input[type='submit']:hover {
					filter: brightness(1.15);
				}
			}
		}

		.footer {
			a {
				color: rgb(15 118 110);
				text-decoration: none;
				font-weight: 700;
			}
		}
	}
}
